html, body {
    margin: 0;
    padding: 0;
    background: rgb(246, 248, 251);
    font-family: Arial, sans-serif;
}

/* Strict A4 dimensions for wkhtmltopdf */
#A4 {
    width: 297mm;
    height: 420mm;
    display: block;
    position: relative;
}

/* MAIN TABLE (wkhtmltopdf safe layout) */
.layout-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.layout-table tr {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

/* LEFT COLUMN */
.left {
    height: 297mm;
    width: 40%;
    background-color: rgb(5, 94, 124);
    color: white;
    padding: 8mm;
    box-sizing: border-box;
    vertical-align: top;
}

/* RIGHT COLUMN */
.right {
    height: 297mm;
    width: 60%;
    background-color: rgb(255, 255, 255);
    padding: 8mm;
    box-sizing: border-box;
    vertical-align: top;
}

/* Profile Picture */
.profile-pic {
    width: 38mm;
    height: 38mm;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10mm;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Headings */
.name {
    color: rgb(224, 234, 250);
    margin-top: 8mm;
    margin-bottom: 8mm;
}

.lefth2 {
    color: rgb(224, 234, 250);
    margin-top: 8mm;
}

.righth2 {
    color: rgb(5, 94, 124);
    margin-top: 8mm;
}

ul {
    margin: 0;
    padding-left: 5mm;
}

@media screen {
   #A4 {
      transform: scale(0.6);
      transform-origin: top left;
   }
}
