<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Template 1</title>
    <link rel="stylesheet" href="dummy.css">
</head>

<body>

<div id="A4">

    <table class="layout-table" cellspacing="0" cellpadding="0">
        <tr>

            <!-- LEFT COLUMN -->
            <td class="left">

                <div class="profile-pic">
                    <img data-key="profilePic" src="./images/profile-picture.webp">
                </div>

                <h1 data-key="fullName" class="name">Your Name</h1>

                <h2 class="lefth2">CONTACT</h2>
                <p>Email: <span data-key="email">your.email@example.com</span></p>
                <p>Mobile: <span data-key="mobile">0000000000</span></p>
                <p>LinkedIn: <span data-key="linkedin">linkedin.com/in/yourprofile</span></p>

                <h2 class="lefth2">LANGUAGES</h2>
                <ul data-key="languages">
                    <li>English</li>
                </ul>

                <h2 class="lefth2">SKILLS</h2>
                <ul data-key="skills">
                    <li>Skill 1</li>
                </ul>

            </td>

            <!-- RIGHT COLUMN -->
            <td class="right">

                <h2 class="righth2">EDUCATION</h2>
                <ul data-key="education">
                    <li>Sample Education Detail1</li>
                    <li>Sample Education Detail2</li>
                    <li>Sample Education Detail3</li>
                </ul>

                <h2 class="righth2">PROJECTS</h2>
                <ul data-key="projects"></ul>

            </td>

        </tr>
    </table>

</div>

</body>
</html>
