.card {
    border: 1px solid #aaa;
    padding: 15px;
    margin: 10px 0;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.preview {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
}

.approve-btn {
    background: green;
    padding: 8px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

.approve-btn:hover {
    background: darkgreen;
}

h2 { 
    color: #333; 
}


.delete-icon{
    border-radius: 1vh;
    height: 6.2vh;
    width: 6.2vh;
    background-image: url("../assets/images/delete_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.delete-icon:hover{
    box-shadow: 2px 2px 5px rgb(67, 63, 63);
}

.view-icon{
    border-radius: 1vh;
    height: 6.2vh;
    width: 6.2vh;
    background-image: url("../assets/images/view_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.view-icon:hover{
    box-shadow: 2px 2px 5px rgb(67, 63, 63);
}