body{
    font-family: Arial; padding: 20px; 
}
.box{ 
    max-width: 400px; margin: auto; padding:20px; border:1px solid #ccc; 
}
input, button{
    width:100%; padding:10px; margin-top:10px; 
}
.msg{
    padding:10px; background:#f0f0f0; margin-bottom:15px; 
}