/* main font-style */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Plaster&display=swap');

/* for artyfyme-text */
/* @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap'); */

@font-face {
    font-family: 'Orbitron';
    /* Use the path to the font file */
    src: url('../assets/fonts/orbitron-master/Orbitron\ Medium.otf') format('truetype');
    /* Set the weight for this specific file */
    font-weight: 450; 
    font-style: normal;
    font-display: swap; /* Tells the browser how to load the font */
}

/* for istyle */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* for theme-text */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

/* --------------------------------------------------- */

html,body{
    height: 100vh;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.hero{
    /* background-image: url("../assets/images/first-bg.jpg"); */
    background-image: url("../assets/images/left-bg.jpg");
    background-size:cover;
    background-position: center;
}


/* --------------------------------------------------- */

.leftcard{
    height: 82vh;
    width: 35%;
    /* background: linear-gradient(to right, rgb(152, 26, 201) , rgb(111, 219, 252)); */
    background-image: url("../assets/images/left-bg.jpg");
    background-size: cover;
    background-position:right;
    border-radius: 0px 50px 0 50px;
    box-shadow: 5px 5px 10px rgb(55, 55, 55);

}

.dvlogo {
  background-image: url("../assets/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30vh; 
  height: 30vh;
  display: block;
  border-radius: 5px;
}


.theme-text{
    font-family: "Cormorant Garamond", serif; 
    font-optical-sizing: auto;
    font-size: 3.5vw;

    background: linear-gradient(
        to bottom, 
        #00FFFF, 
        #ffffff
    );

    
    -webkit-background-clip: text;
    background-clip: text; 
    
    -webkit-text-fill-color: transparent;
    
    line-height: 1.3;
}

.artifyme-text {
    /* font-family: "Audiowide", sans-serif; */
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-size: 3.7vw; 
    font-weight: bold;
    
    color: transparent; 
    
    -webkit-text-stroke: 1px white; 
    
    text-shadow: 
        1px 1px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        
        3px 3px 0 #00FFFF, 
        
        -4px -3px 0 #FF00FF; 

    line-height: 0.8;   
}

.istyle {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;

    font-style: normal;
    font-size: 5.1vw;
    font-weight: bold;
    
    color: transparent; 
    
    -webkit-text-stroke: 1px white; 
    
    text-shadow: 
        1px 1px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        
        3px 3px 0 #00FFFF, 
        
        -4px -3px 0 #FF00FF; 

    line-height: 0.8;   
}


.rightcard{
    height: 70vh; 
    box-shadow: 0px 0px 10px rgb(55, 55, 55);
    border-radius: 10px;
}

.form-style{
    height: 52vh; 
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgb(55, 55, 55);
    border-radius: 10px;
}

label{
    font-size: 18px;
}

input{
    box-shadow: 2px 2px 10px rgb(185, 185, 192);
}

.logbtn:hover {
  transform: scale(1.05);
  background-color: #00bcd4;
  transition: 0.2s ease-in-out;
}

.register{
    text-shadow: 2px 2px black !important;
}

.register:hover{
    text-shadow: 2px 2px black !important;
    font-size: 1.5rem !important;
}

/* --------------------------------------------------- */

.topcard{
    height: 25vh;
    /* background: linear-gradient(to right, rgb(152, 26, 201) , rgb(111, 219, 252)); */
    background-image: url("../assets/images/left-bg.jpg");
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(55, 55, 55);
}

.mvlogo {
  background-image: url("../assets/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 15vh; 
  height: 15vh;
  margin-top: 10px;
  margin-left: 20px;
  display: block;
  border-radius: 5px;
}

.artifyme-textmv{
    font-family: 'Orbitron', sans-serif;
    font-style: normal;
    font-size: 4.4vw; 
    font-weight: bold;
    
    color: transparent; 
    
    -webkit-text-stroke: 1px white; 
    
    text-shadow: 
        1px 1px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        
        2px 2px 0 #00FFFF, 
        
        -3px -2px 0 #FF00FF; 

    line-height: 0.85; 
}

.istylemv {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;

    font-style: normal;
    font-size: 8vw;
    font-weight: bold;
    
    color: transparent; 
    
    -webkit-text-stroke: 1px white; 
    
    text-shadow: 
        1px 1px 0 white,
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        
        2px 2px 0 #00FFFF, 
        
        -3px -2px 0 #FF00FF; 

    line-height: 0.8;   
}

.bottomcard{
    height: 65vh; 
    box-shadow: 0px 0px 10px rgb(55, 55, 55);
    border-radius: 10px;
}

.form-style-mv{
    width: 100%;
    height: 50vh; 
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    border-radius: 10px;
}

.submit-mv{
    font-size: 0.8rem;
}