/* main font-style */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* for artifyme-text */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

/* --------------------------------------------------- */

html,body{
    background: #f8f9fc;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



/* --------------------------------------------------- */

.leftcard{
    height: 100vh;
}

.rounded{
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #4CC7F1, #0099cc);
    background-position: right;
    background-size: cover;
    border-radius: 0px 200px 200px 0px !important;
    padding: 2rem;
    overflow-y: auto; 
    overflow-x: hidden;
    scrollbar-width: none;
}


.artifyme-text {
    font-family: "Cormorant Garamond", serif; 
    font-optical-sizing: auto;
    font-size: 4.3vw; 
    font-weight: 700;
    
    color: transparent; 
    color: #004a7c;

    line-height: 0.8; 
    letter-spacing: 0.5rem;
    margin-bottom: 0;
}

.theme-text{
    display: flex;
    align-items: center;
    font-size: 2.4vw;
    margin-bottom: 1vh;
    font-family: "Cormorant Garamond", serif; 
    font-optical-sizing: auto;
    
    color: #333;
    font-weight:500;
}

.dvlogo {
    background-image: url("../assets/images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 43vw; 
    height: 43vh;
    max-width: 43vh;
    background-size: contain;
}

.rightcard, .bottomcard {
    position: relative;
}

/* The sliding message bar */
.showMsg {
    position: absolute;   
    top: -80px;           
    left: 0;
    width: 100%;          
    
    padding: 15px;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 0 0 10px 10px;
    z-index: 2000;        /* stays above the form */
    background: gray;     
    transition: background 0.3s ease;
}

.successMsg {
    background: #0e9b53;
}

.errorMsg {
    background: #e63946;
}




.rightcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; 
    width: 50%;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: auto;
    overflow-y: auto; 
    overflow-x: hidden;
}


.form-style{ 
    margin-bottom: 3rem;
}

label{
    font-size: 18px;
}


input {
    width: 100% !important;
    padding: 1.4vh !important;
    margin: 1vh 0 !important;
    border: none !important;
    border-bottom: 2px solid #4CC7F1 !important;
    font-size: 16px !important;
    outline: none !important;
}

input:focus {
    border-bottom-color: #0077b6 !important;
}

.form-select {
    border: none !important;
    background-color: white !important;
    border-bottom: 2px solid #4CC7F1 !important;
    border-radius: 10% !important;
    padding-left: 0 !important;
}

.form-select:focus {
    border-bottom-color: #0077b6 !important;
    box-shadow: none !important;
    outline: none !important;
}

.showError{
    display: block;
    color: rgb(255, 72, 0) !important;
    font-weight: 300 !important;
}

.logbtn{
    background: #00bdf2;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.logbtn:hover {
  background: #0099cc;
}

.register{
    color: rgb(51, 123, 152) !important;
}

.register:hover{
    text-shadow: 1px 1px rgb(22, 62, 78) !important;
    font-size: 1.5rem !important;
}


/* --------------------------------------------------- */

/* MOBILE FIXES */
@media (max-width: 767px) {

    .mobile-view {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .mobile-view .row {
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
    }

    .topcard {
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
        height: auto;
    }

    .mobileRounded {
        margin: 0;
        height: 58vh;
        background: linear-gradient(135deg, #4CC7F1, #0099cc);
        background-position: right;
        background-size: cover;
        border-radius: 0px 0px 100px 100px !important;
        padding: 2rem;
        overflow-y: auto; 
        overflow-x: hidden;
        scrollbar-width: none;
    }

    .mobile-artifyme-text {
        font-family: "Cormorant Garamond", serif; 
        font-optical-sizing: auto;
        font-size: 8vw; 
        font-weight: 700;
        
        color: transparent; 
        color: #004a7c;

        line-height: 0.8; 
        letter-spacing: 0.5rem;
        margin-bottom: 0;
    }

    .mobile-theme-text {
        display: flex;
        align-items: center;
        font-size: 5vw;
        font-family: "Cormorant Garamond", serif; 
        font-optical-sizing: auto;
        color: #333;
        font-weight:500;
    }

    .mobile-dvlogo{
        background-image: url("../assets/images/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        width: 40vw;   
        height: 20vh;   
        margin: 10px auto;  
        border-radius: 10%;
    }


    .bottomcard {
        width: 100% !important;
        height: auto;
        padding: 1.5rem;
        margin-top: 1rem;
        box-shadow: 0 0 10px rgba(55, 55, 55, 0.3);
        overflow-y: auto; 
        overflow-x: hidden;
    }

    .form-style {
        width: 100% !important;
        margin: 0 auto;
    }

    .logbtn {
        font-size: 1rem !important;
        padding: 10px 20px !important;
    }

    .register {
        font-size: 1.1rem !important;
    }

}
